* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #222222;

}
.container {

    width: 90%;
    margin: 0 auto;
   
    /* padding: 100px 80px; */
    background-color: #222222;
}


.bannar-section {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bannar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.menu-bar {
    text-align: center;
    padding-top: 30px;
}

.navbar li {
    display: inline;
    margin: 10px;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0px 10px;
    font-weight: 300;
}

.bannar-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;

}

.bannar-content h1 {
    color: white;
    font-weight: 400;
    font-size: 70px;
}

.bannar-content h2 {
    color: white;
    font-weight: 900;
    font-size: 70px;
    padding: 15px 0px;
}

.bannar-content p {
    color: #fefffd;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 3px;
}

/* portfolio section start */

.featured {

    text-align: center;
    padding: 80px 0;
   
}

.featured-row-1 {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.featured-col-1 {
    flex-basis: 32%;
}

.featured-col-2 {
    flex-basis: 32%;
}

.featured-col-3 {
    flex-basis: 32%;
}

.featured h3 {
    font-weight: 400;
    font-size: 30px;
    color: white;
}

.featured span {
    font-weight: 900;
}

.featured-list {
    list-style: none;
    padding: 30px 0px;
}

.featured-list li {
    display: inline;
    padding: 0px 20px;
    font-weight: 100;
}

.featured-list li a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

.featured-list li a:hover {
    color: #bac964;
}

.featured-row-1 h3 {
    color: white;
    font-size: 23px;
    font-weight: 300;
    padding: 10px 0px;
}

.featured-row-1 p {
    color: white;
    font-size: 17px;
    font-weight: 100;
}

.featured img {
    width: 100%;
    height: auto;
}

/* Eduction section start */
.education {
    background-color: #222222;
    padding: 80px 0;
}

.edu-row {
    display: flex;
    justify-content: space-between;
}

.edu-col1 {
    background-color: #333;
    flex-basis: 49%;
    border-radius: 10px;
    padding: 30px;
    color: white;
}

.edu-col2 {
    background-color: #333;
    flex-basis: 49%;
    border-radius: 10px;
    padding: 30px;
    color: white;
}

.edu-row1 {
    display: flex;
    justify-content: space-between;
}

.edu-col3 {
    flex-basis: 49%;
}

.edu-col4 {
    flex-basis: 49%;
}

.edu-col1 h5 i,
.edu-col2 h5 i {
    font-size: 20px;
    padding-right: 10px;

}

.edu-row h4 {
    padding: 10px 0;
    color: #bac964;
    font-weight: 100;
    font-size: 20px;
}

.edu-row p {
    font-size: 17px;
    font-weight: 100;
    padding: 10px 0;
    color: #bababa;
}

.edu-row1 h3 {
    color: white;
    font-size: 25px;
    font-weight: 100;
    padding-bottom: 25px;
}

.education h2 {
    text-align: center;
    padding-bottom: 50px;
    color: white;
    font-size: 31px;
    font-weight: 100;
}

.education h2 span {
    font-weight: 400;
}

.next-row {
    padding-top: 27px;
}

.responsive-bar {
    color: white;
    font-size: 28px;
    font-weight: 200;
    padding-bottom: 20px;
}

/* about section start */
.about {
    background-color: #222222;
    padding: 80px 0;
}

.about-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about-col1 img {
    width: 100%;
}

.about-col1 {
    flex-basis: 49%;
}

.about-col2 {
    flex-basis: 49%;
    padding-left: 60px;
}

.about-col2 h3 {
    color: white;
    font-size: 40px;
    font-weight: 200;
    padding-bottom: 20px;
}

.about-col2 span {
    font-weight: 900;
}

.about-col2 p {
    color: #888888;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.7;
}

.about-col2 small {
    color: #888888;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.7;
    padding-top: 17px;
}

.btn1 {
    background: #bac964;
    color: rgb(0, 0, 0);
    padding: 15px 40px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 30px;
    display: inline-block;
    margin-right: 20px;
}

.btn2 {
    background: #333;
    color: white;
    padding: 15px 40px;
    border-radius: 20px;
    text-decoration: none;
}

.about-col2 small {
    display: block;
}

.btn2:hover {
    background-color: #737562
}






/* about section end */


/* testimonial section start */

.testimonial {
    background-color: #222222;
    padding: 80px 0;
}

.testimonial h3 {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 200;
    padding: 30px 0;
}

.testimonial h3 span {
    font-weight: 600;
}

.testimonial-row {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.testimonial-col1 {
    flex-basis: 49%;

}

.testimonial-col2 {
    flex-basis: 49%;
}

.testimonial-mini-col2 {
    background-color: #333;
    border-radius: 15px;
    padding: 60px;
    color: #bbbbbb;
    position: relative;

}


.testimonial-mini-col4 {
    background-color: #333;
}

.testimonial-mini-row {
    display: flex;
}

.testimonial-mini-col1 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 30px;
}

.testimonial-mini-col3 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 30px;
}

.testimonial-mini-col4 {
    background-color: #333;
    border-radius: 15px;
    padding: 60px;
    position: relative;
}

.testimonial-mini-col2 blockquote {
    font-size: 17px;
    font-weight: 300;
    line-height: 33px;
    word-spacing: 1px;
    padding-bottom: 19px;

}
.testimonial-mini-col4 blockquote {
    font-size: 17px;
    font-weight: 300;
    line-height: 33px;
    word-spacing: 1px;
    padding-bottom: 19px;
}
.testimonial-mini-col3, .testimonial-mini-col4 {
    color: #bbbbbb;
    
}
.testimonial span {
    color: #bac964
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1px 28px 23px 0;
    border-color: transparent #333 transparent transparent;
    position: absolute;
    left: -25px;
    top: 21px;
}

/* testimonial end */


/* service section start */

.service  {
    padding: 80px 0;
   
}
.service-row {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.service-col1, .service-col2, .service-col3 {
    flex-basis: 32%;
    background-color: #333333;
    padding: 41px 34px;
  
}
.service .service-col2 {
    max-height: 471px;
}
.service h2 {
    color: white;
    font-weight: 200;
    font-size: 40px;
    padding: 40px 0;
    text-align: center;
}
.service h2 span {
    font-weight: 500;
}

.service .icon i{
    font-size: 60px;
    background-color: #bac964;
    padding: 30px;
    border-radius: 50%;
   
}
.service h3 {
    color: rgb(233, 233, 233);
    font-size: 25px;
    font-weight: 300;
    padding: 20px 0;
}
.service p {
    color: rgb(155, 155, 155);
    font-size: 18px;
    line-height: 34px;
    font-weight: 300;
    padding: 15px 0;

}
.service a{
    color: #bac964;
    font-size: 18px;
    font-weight: 200;
    text-decoration: none;
  
}

.service i {
    color: #bac964;
    margin-left: 10px;
}
.service .learn-more span {
    transition: 0.5s;
}
.service .learn-more:hover span {
    margin-right: 25px;
}

/* service section end */

/* blog section start */
.blog {
    padding: 80px 0;
}
.blog h1 {
    text-align: center;
    color: white;
    font-size: 37px;
    font-weight: 200;
    margin-bottom: 56px;
}
.blog h1 span {
    font-weight: 900;
}


.blog-row {
    display: flex;
    justify-content: space-between;
}
.blog .blog-col-1, .blog-col-2, .blog-col-3 {
    flex-basis: 31%;
    background-color: #333333;
 
}
.blog-padding {
    padding: 35px;
}
.blog h2 {
    color: white;
    font-weight: 300;
}
.blog p {
    color: rgb(145, 145, 145);
    line-height: 30px;
    padding: 10px 0;
    font-size: 18px;
  

}

.blog img {
    width: 100%;
    height: auto;
}




/* blog section end */

/* Contact section start */
.contact {
    padding: 80px 0;
}

.contact h3 {
    text-align: center;
    font-size: 38px;
    color: white;
    font-weight: 200;
}
.contact h3 span {
    font-weight: 600;
}
.contact h5 {
    color: white;
    font-weight: 300;
    font-size: 35px;
    padding: 40px 0;
}

.contact-row {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.contact-col-1 {
    flex-basis: 68%;
}

.contact-col-2 {
    flex-basis: 25%;
}

.contact form input {
    width: 100%;
    padding: 20px 20px;
    border-radius: 5px;
    border: none;
    outline: 0;
    margin-bottom: 10px;
    background: #333;
    color: white;
    margin: 10px 0;
}
.contact form textarea {
    margin: 10px 0;
}

.contact form textarea {
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    outline: 0;
    margin-bottom: 10px;
    background: #333;
    color: white;
    height: 200px;
    resize: none;
}

.contact form ::placeholder {
    color: rgb(175, 175, 175);
    font-size: 18px;
    font-weight: 100;

}
.contact form .submitbtn {
    width: 200px;
    background-color: #bac964;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.contact .info-bar {
    color: #2c3e50;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 500;
    padding: 14px 0;
    display: block;
}
.contact p {
    color: rgb(151, 151, 151);
    line-height: 30px;
    letter-spacing: 1px;
}

/* Contact section End */

/* copyright section start */

footer {
    padding: 80px 0;
    text-align: center;

}

.footer-icon {
    color: #bac964;
    background-color: #333;
    padding: 23px;
    margin: 10px;
    border-radius: 100%;
    font-size: 28px;
}

.social-icon {
    margin-top: 30px;
}

footer p {
    color: #787878;
}








/* copyright section end */